@import '../../styles/variables';

.otpContainer{
    width: 50%;
    margin: 0 auto;
    p{
        font-size: 1.3rem;
        button{
            color: $buttonBackground;
          border: 0;
          background-color: transparent;
          font-weight: $bold;
          font-size: 1.2rem;
        }
    }
    .otpForm{
        input{
            border: 0;
            width: 15%;
            border-bottom: 2px solid $gray;
            margin: 0 20px;
            height: 60px;
            font-size: 2rem;
            text-align: center;
            &:focus{
                outline: none;
                border-color: $primary;
            }
        }
    }
    button{
        width: 80%;
    background-color: $buttonBackground;
    color: $white;
    padding: 10px;
        margin: 25px auto;
        display: flex;
        border: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
    &:disabled{
        background-color: $disabledBackground;
        color: $buttonBackground;            
    }
}
}